/********** Large devices only **********/
@media (min-width: 1200px) {
  #p1 {
    width: 80%;
  }
  #p2 {
    width: 150px;
    height: 150px;
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #p1 {
    width: 50%;
  }
  #p2 {
    width: 100px;
    height: 100px;
  }
  body {
    background-color: blue;
  }
}

h1 {
  text-align: center;
  font-family: arial;
  color: blue;
}

#box {
  background-color: grey;
  padding: 10px;
  border: 3px solid black;
  width: 30%;
  height: 60%;
  margin-top: 50px;
  
}

#title1 {
  background-color: #B0E0E6;
  text-align:left;
}

#title1 {
  background-color: #00FFFF;
  text-align:left;
}

#title1 {
  background-color: #2E8B57;
  text-align:left;
}